[submodule "nirn-proxy"]
	path = infra/nirn-proxy
	url = https://github.com/Anti-Raid/nirn-proxy
        branch = production
[submodule "services/api"]
	path = services/api
	url = https://github.com/anti-raid/api
[submodule "services/bot"]
	path = services/bot
	url = https://github.com/anti-raid/bot
[submodule "builtins"]
	path = builtins
	url = https://github.com/anti-raid/builtins
[submodule "services/template-worker"]
	path = services/template-worker
	url = https://github.com/anti-raid/template-worker
	branch = prod
