out
.vscode
localjobs-config.yaml
config.yaml
config.yaml.sample
coverage.out
__pycache__
node_modules
ljconfig
.DS_Store
/**/target
/**/.DS_Store
bot
api
jobserver
.idea
semver
cmd/nursery/ban_possibilities
.env

# Docker
data/state
data/docker/seaweed/s3.json
**.docker.yaml
**.docker.json
/**/**.docker.yaml
/**/**.docker.json