go 1.22.5

use (
	.

	// Core
	./core/go.jobs
	./core/go.std

	// Infra
	./infra/Sandwich-Daemon
	./infra/animusweb
	./infra/nirn-proxy
	./infra/wafflepaw

	// Services
	./services/go.api
	./services/go.jobserver
	./services/go.localjobs
	./services/rust.bot
	./services/rust.bot.nocluster
	./services/rust.assetgen
)
