go 1.23.1

toolchain go1.23.2

use (
	.

	// Core
	./core/go.jobs
	./core/go.std

	// Infra
	./infra/Sandwich-Daemon
	./infra/nirn-proxy

	// Services
	./services/go.api
	./services/go.jobserver
	./services/go.localjobs
)
