{{ embed_title(title=(event_titlename)) }}

{% filter embed_description %}
{% for key, value in event %}
**{{- key | replace(from="_", to=" ") | uppercase -}}**: {{- value|formatter__gwevent_field -}}
{% endfor %}
{% endfilter %}