[Service]
Type=simple
ExecStart=/home/antiraid/splashtail/staging/out/bot bot
User=antiraid
Group=antiraid
WorkingDirectory=/home/antiraid/splashtail/staging
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target

[Unit]
PartOf=antiraid-v6.target
Description="bot"
After=ar-gateway-proxy.service
