[Service]
Type=simple
ExecStart=/home/antiraid/splashtail/staging/out/template-worker start
User=antiraid
Group=antiraid
WorkingDirectory=/home/antiraid/splashtail/staging
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target

[Unit]
PartOf=antiraid-v6.target
Description="AntiRaid template worker service"
After=ibl-maint.service
